
src/VideoCatalog/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
src/VideoCatalog/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
src/VideoCatalog/obj/Debug/App.baml
src/VideoCatalog/obj/Debug/App.g.cs
src/VideoCatalog/obj/Debug/App.g.i.cs
src/VideoCatalog/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/VideoCatalog/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/VideoCatalog/obj/Debug/GeneratedInternalTypeHelper.g.cs
src/VideoCatalog/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
src/VideoCatalog/obj/Debug/NaviWPFApp.csproj.AssemblyReference.cache
src/VideoCatalog/obj/Debug/NaviWPFApp.csproj.CoreCompileInputs.cache
src/VideoCatalog/obj/Debug/NaviWPFApp.csproj.FileListAbsolute.txt
src/VideoCatalog/obj/Debug/NaviWPFApp.csproj.GenerateResource.cache
src/VideoCatalog/obj/Debug/NaviWPFApp_MarkupCompile.i.cache
src/VideoCatalog/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
src/VideoCatalog/obj/Debug/VideoCatalog.csproj.AssemblyReference.cache
src/VideoCatalog/obj/Debug/VideoCatalog.csproj.CopyComplete
src/VideoCatalog/obj/Debug/VideoCatalog.csproj.CoreCompileInputs.cache
src/VideoCatalog/obj/Debug/VideoCatalog.csproj.FileListAbsolute.txt
src/VideoCatalog/obj/Debug/VideoCatalog.csproj.GenerateResource.cache
src/VideoCatalog/obj/Debug/VideoCatalog.exe
src/VideoCatalog/obj/Debug/VideoCatalog.g.resources
src/VideoCatalog/obj/Debug/VideoCatalog.pdb
src/VideoCatalog/obj/Debug/VideoCatalog.Properties.Resources.resources
src/VideoCatalog/obj/Debug/VideoCatalog_Content.g.cs
src/VideoCatalog/obj/Debug/VideoCatalog_Content.g.i.cs
src/VideoCatalog/obj/Debug/VideoCatalog_MarkupCompile.cache
src/VideoCatalog/obj/Debug/VideoCatalog_MarkupCompile.lref
src/VideoCatalog/obj/Debug/Views/FirstPage.g.i.cs
src/VideoCatalog/obj/Debug/Views/MainPage.g.i.cs
src/VideoCatalog/obj/Debug/Views/MainView.baml
src/VideoCatalog/obj/Debug/Views/MainView.g.cs
src/VideoCatalog/obj/Debug/Views/MainView.g.i.cs
src/VideoCatalog/obj/Debug/Views/MainWindow.baml
src/VideoCatalog/obj/Debug/Views/MainWindow.g.cs
src/VideoCatalog/obj/Debug/Views/MainWindow.g.i.cs
src/VideoCatalog/obj/Debug/Views/SecondPage.g.i.cs
src/VideoCatalog/obj/Debug/Views/VideoDetailView.g.i.cs
src/VideoCatalog/obj/Debug/Views/VideoView.baml
src/VideoCatalog/obj/Debug/Views/VideoView.g.cs
src/VideoCatalog/obj/Debug/Views/VideoView.g.i.cs
